html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.btn btn-primary assignments {
    padding-top: 50px;
}

.navbar {
    background-color: #424242;
}

    .navbar .navbar-nav .nav-link {
        color: #fff;
    }

        .navbar .navbar-nav .nav-link:hover {
            color: #d9534f;
        }

    .navbar .navbar-nav .active > .nav-link {
        color: #d9534f;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: lightcoral;
    background-color: lightcoral;
    border-color: #1861ac;
}

footer a.text-light:hover {
    color: #d9534f !important;
    text-decoration: none;
}

footer .fsection {
    border-right: 1px solid #424242;
}

@media (max-width: 992px) {
    footer .fsection {
        border-right: none;
    }
}


#questionDescription {
    margin-top: 10px;
    margin-bottom: 10px;
}

#showMore {
    margin-top: 10px;
}

#submitAssignment {
    margin-top: 20px;
}
