@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Contact</h1>
        <p class="lead">Feel free to ask anything!</p>
            <hr />
            <p class="lead">
                If you encounter any kind of problem, don't hesitate to contact us. <br />
                <b>Phone number 1:</b> +40 (078) 421 3 123 <br />
                <b>Phone number 2:</b> +40 (072) 431 5 678 <br />
                <b>E-mail address:</b> educare@student.ucv.ro
            </p>
    </div>
</div>
