
@{
    ViewData["Title"] = "AssignmentCreated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AssignmentCreated</h1>

<div class="jumbotron">

    <h3 class="display-4">Congrats!</h3>
    <hr>
    <p>You have created a new assignment! Click <a asp-action="Index" asp-controller="Assignment">here</a> to return to the Assignment overview page</p>
</div>

