@model EduCareProject.Models.Question

@{
    ViewData["Title"] = "CreateQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Assignment @Model.AssignmentId</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="text-danger"></div>
            <div class="form-group">
                <textarea class="form-control" id="content"></textarea>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="1" id="flexRadioDefault1" checked>
                <input type="text" class="form-control" id="Answer1" placeholder="First answer">
                <input class="form-check-input" type="radio" value="2" id="flexRadioDefault2">
                <input type="text" class="form-control" id="Answer2" placeholder="Second answer">
                <input class="form-check-input" type="radio" value="3" id="flexRadioDefault3">
                <input type="text" class="form-control" id="Answer3" placeholder="Third answer">
            </div>
            <br />
            <div class="form-group">
                <button id="btnContinue" class="btn btn-primary" onclick="SubmitForm(false)">Add a new question</button>
                <button id="btnContinue" class="btn btn-primary" onclick="SubmitForm(true)">Submit the form</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script type="text/javascript">

    function SubmitForm(redirectToNewForm = true) {

        var _data =
        {
            Content: document.getElementById("content").value,
            AssignmentId: @Model.AssignmentId,
            FirstAnswer: document.getElementById("Answer1").value,
            SecondAnswer: document.getElementById("Answer2").value,
            ThirdAnswer: document.getElementById("Answer3").value,
            CorrectAnswer: $("input[type='radio']:checked").val(),
            redirectToNewForm

        };
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Assignment/CreateQuestions")',
            data: _data,
            dataType: "json",
            success: function (data) {
                successResponse(data);
            },
            error: function () {
                alert('error');
                console.log('Error');
            }
        });
    };

    function successResponse(callback) {
        window.location.href = callback;
        console.log(callback);
    }
</script>

